@import "reset.css";
body {
    min-height: 100vh;
    display : flex;
    flex-direction: column;

    background-color : black;
    font-weight: bold !important;
    color : white;
    text-align: center;
}

nav { 
    height : 50px;
    background-color : gray; 
    border-radius:0mm;
}

.navbar-logo{ 
    vertical-align : middle;
}

.navbar-button, .nav-list{
    margin-left : 10px;
    float : left;
}

.container{
    padding: 40px;
}

#footer{   
    text-align: left;
    padding: 40px;
}