@import "reset.css";
body {
    min-height: 100vh;
    display : flex;
    flex-direction: column;

    background: black;
    font-weight: bold !important;
    color : white;
    text-align: center;
}

.clock {
    position: absolute;
    margin-left: 750px;
    transform: translate(-50%);
}

nav { 
    height : 50px;
    background: rgb(236,234,95);
    background: linear-gradient(90deg, rgba(255,132,0,1) 0%, rgba(236,234,95,1) 100%);
    border-radius:0mm;
}

.navbar-logo{ 
    vertical-align : middle;
}

.navbar-button, .nav-list{
    margin-left : 10px;
    float : left;
}

.container{
    padding: 10px;
}

#footer{
    text-align: left;
    padding: 30px;
}