@import "/reset.css";
body{
    color : white;
    font-weight: 600;
}
.SignUpForm-outerdiv{
    font-weight: normal;
    background-color: rgba(255,255,255,0.4);
    height : 580px;
    width : 1200px;
    margin-left : 15px;
}

.SignUpFormLabel{
    padding-top: 30px;
    font-size : large;
    margin-bottom: 30px;
    margin-top : 10px;
}
.SignUp{
    text-align: left;
    margin-top: 21px;
    width : 500px;
    margin-left : 370px ;
}
.btn{
    margin-left : 190px;
    color : black;
    background-color: rgba(255,255,255,0.5);
    border : none;
}