{% extends 'base.html' %}

<head>
    {% load static %}
    {% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    {% endblock %}
</head>

{% block content %}
    <h1 class="title">마이페이지</h1><br> 
    <div class="card text-center" id="card-border">
        <div class="card-body" style="padding: 50px;">
            
            <p class="card-text" id="card-content">{{user_profile.username}}</p>
            
        </div>
        <div class="card-footer text-muted">
            
        </div>
    </div>
{% endblock %}